snippet ** "Bold" i
**$1**$0
endsnippet

snippet it "Italic" wA 
*$1*$0
endsnippet

snippet / "Fraction" i
\frac{$1}{$2}$0
endsnippet

snippet * "italics"
*${1:${VISUAL}}*$0
endsnippet

snippet ** "bold"
**${1:${VISUAL}}**$0
endsnippet

snippet *** "bold italics"
***${1:${VISUAL}}***$0
endsnippet

snippet /* "Comment"
<!-- ${1:${VISUAL}} -->$0
endsnippet
